.seed-list-header {
    display: flex;
    align-items: center;
    width: 100%;
    gap: var(--rui-dimension-x2_5);
    justify-content: space-between;
    box-sizing: border-box;
    padding-left: var(--rui-dimension-spacing-x-global-gutter);
    padding-right: var(--rui-dimension-spacing-x-global-gutter);
    padding-top: var(--rui-dimension-x2);
    padding-bottom: var(--rui-dimension-x2);
    font-size: var(--rui-font-size-t4);
    line-height: var(--rui-line-height-t4)
}
.seed-list-header--variant_mediumWeak {
    font-weight: var(--rui-font-weight-medium);
    color: var(--rui-color-fg-neutral-subtle)
}
.seed-list-header--variant_boldSolid {
    font-weight: var(--rui-font-weight-bold);
    color: var(--rui-color-fg-neutral)
}