@layer seed-components {
  .seed-notification-badge {
    box-sizing: border-box;
    text-transform: none;
    text-align: start;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--rui-color-bg-brand-solid);
    color: var(--rui-color-palette-static-white);
    justify-content: center;
    align-items: center;
    text-decoration: none;
    display: inline-flex;
  }

  .seed-notification-badge--size_small {
    border-radius: var(--rui-radius-full);
    width: 6px;
    height: 6px;
  }

  .seed-notification-badge--size_large {
    border-radius: var(--rui-radius-full);
    min-height: 18px;
    padding-left: var(--rui-dimension-x1);
    padding-right: var(--rui-dimension-x1);
    font-size: var(--rui-font-size-t1);
    line-height: var(--rui-line-height-t1);
    font-weight: var(--rui-font-weight-bold);
    padding-top: 0;
    padding-bottom: 0;
  }
}
